.navbar {
    background-color: #2d6bbb!important;
}
.navbar button{
    background-color: transparent;
    border:0px;
    color:white;
    cursor:pointer;
    font-size: 1.1em;
    padding-right:20px;
    padding-top:5px;
    padding-left:1px
}