{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<div class="row news">
        {% for new in news %}
    <div class="col-sm-4">
            
            <h3>
                <a href="{% url 'details' slug=new.slug %}">
                    {{ new.title }}
                </a>
            </h3>
            <img src="{{new.image.url}}" alt="" width="100%" height="auto">
            <p>
                {{ new.snippet }}
                <a href="{% url 'details' slug=new.slug %}">
                        <b>read more</b>
                    </a>
            </p>
            <p><b>{{ new.date_created }}</b></p>
            
    </div>
    {% endfor %}
</div>

    


{% endblock content %}